/* Set the content of table  
        using css properties */ 
        table { 
            width: 700px; 
            margin: auto; 
            text-align: center; 
            table-layout: fixed; 
        } 
  
        /* Applying css properties  
        to table components */ 
        table {
            height: 500px;
        }

        table, td, tr { 
            padding: 12px; 
            color: wheat; 
            background: indigo; 
            border: 1px solid black; 
            border-collapse: collapse; 
            font-size: 20px; 
            font-family: 'Lucida Sans',  
                'Lucida Sans Regular', 
                'Lucida Grande',  
                'Lucida Sans Unicode', 
                Geneva, Verdana, sans-serif; 
        } 
  
        /* Apply css properties to th\sble */ 
        th { 
            color: white; 
            border: 1px solid black; 
            border-collapse: collapse; 
            background: cadetblue; 
        } 
  
        /* Apply hover effect to td */ 
        td:hover { 
            background: orangered; 
        } 